<!DOCTYPE html>
%html
  %head
    %title=Book
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    =react_component('Application',
      logo: image_path('book.png'),
      noImage: image_path('noimage.png'), 
      component: @component, 
      data: {books: @books, mine: true}, 
      loggedIn: @loggedIn, 
      reset_password_token: @reset_password_token, 
      unlock_token: @unlock_token)
    -# signOutLink: destroy_session_path(@user)

    = yield